<header class="mb-32">
  <h2>
    <a href="/">
    <center>
          <img src="/logo.png" width="25%">
      <p class="font-medium text-3xl text-foreground"></p>
        <p class="font-medium">Innovations & Security</p>
    </center>
    </a>
  </h2>
  <br>
  <p class="font-mono text text-foreground">
Ecrow a Northern Germany–based startup, focuses on software-as-a-service (SaaS) solutions, cybersecurity, low-level programming, IoT, and privacy innovations that protect human and civil rights.
<br><br>
With a strong focus on robust software development and security technologies, 
Ecrow delivers software and expertise to help organizations operate securely and efficiently.
</p>
</header>
