<footer class="pt-8 mb-10 text-sm border-t border-border">
  <div class="flex flex-wrap justify-between items-center">
    <div>
      <a
        href="mailto:hello@ecrow.de"
        target="_blank"
        rel="nofollow noreferrer noopener"
        class="hover:text-foreground transition-all">Mail</a
      >
      <span class="mx-2">•</span>
      <a
        href="https://github.com/nojana?tab=repositories"
        target="_blank"
        rel="nofollow noreferrer noopener"
        class="hover:text-foreground transition-all">GitHub</a
      >
    </div>
    <div>
      <a href="/rss.xml" class="hover:text-foreground transition-all">RSS</a>
    </div>
  </div>
</footer>
